%button {
	$size: 15;
	position: relative;
	line-height: em(46,$size);
	font: {
		family: $header-font !important;
		size: em($size);
	}
	border: 0 none;
	cursor: pointer;
	outline: none;
	transition: background-color $animation-time $animation-motion, color $animation-time $animation-motion;
	&:hover {
		background-color: $dimmed-blue;
		color: $white;
	}

/*
	&:active {
		box-shadow: inset 0px 1px 3px rgba(#000,.4);
	}
*/

	&.disabled,
	&.is--disabled {
		background:$grey;
		color:#fff;
		//box-shadow: inset 0px 1px 8px #000;
		cursor: default;
	}
}
