// -----------------------------------------------------------------------------
//
//  Navigation module
//  - used on frontpage teasers or overview pages
//
//  Extend the _teaser.scss (holds the default teaser styling)
//
// -----------------------------------------------------------------------------

//// Navigation variables //////////////////////////////////////////////////////
$navigation-toggle-width			: 48px !default;
$navigation-toggle-height			: 48px !default;
$navigation-toggle-bar-thickness	: 3px !default;
$navigation-toggle-pad			    : 14px !default;
$navigation-toggle-bar-offset		: -7px !default;
$navigation-toggle-trans-delay		: $animation-time !default;
$navigation-toggle-bar-bgcolor		: #fff !default;
$navigation-text-align				: center !default;
$navigation-link-color				: $white !default;
$navigation-link-hover-color		: darken(#c0c7cb,10%) !default;
$navigation-link-triangle			: $blue !default;
////////////////////////////////////////////////////////////////////////////////

//// -----------------------------------------------------------------------------
////  Navigation toggle
//// -----------------------------------------------------------------------------
//@include media($small-up) {
//	.navigation-toggle {
//		display: none;
//	}
//}
//
//@include media($small) {
//	.navigation-toggle {
//		display: block;
//		position: absolute;
//		overflow: hidden;
//		right: 0;
//		margin: 0;
//		padding: 0;
//		width: $navigation-toggle-width;
//		height: $navigation-toggle-height;
//		background-color: $blue;
//		font-size: 0;
//		text-indent: -9999px;
//		-webkit-appearance: none;
//		-moz-appearance: none;
//		appearance: none;
//		box-shadow: none;
//		border-radius: 0;
//		border: none;
//		cursor: pointer;
//		@include transition(background $navigation-toggle-trans-delay);
//	}
//
//	.navigation-toggle:focus {
//		outline: none;
//	}
//	.navigation-toggle span,
//	.navigation-toggle span::before,
//	.navigation-toggle span::after {
//		display: block;
//		position: absolute;
//		height: $navigation-toggle-bar-thickness;
//		background-color: $navigation-toggle-bar-bgcolor;
//	}
//
//	.navigation-toggle span {
//		top: ($navigation-toggle-width / 2);
//		left: $navigation-toggle-pad;
//		right: $navigation-toggle-pad;
//		@include transition(transform $navigation-toggle-trans-delay);
//	}
//
//	.navigation-toggle span::before,
//	.navigation-toggle span::after {
//		left: 0;
//		width: 100%;
//		content: "";
//	}
//
//	.navigation-toggle span::before {
//		top: $navigation-toggle-bar-offset;
//		@include transform-origin(top left);
//		@include transition(transform $navigation-toggle-trans-delay, width $navigation-toggle-trans-delay, top $navigation-toggle-trans-delay);
//	}
//
//	.navigation-toggle span::after {
//		bottom: $navigation-toggle-bar-offset;
//		@include transform-origin(bottom left);
//		@include transition(transform $navigation-toggle-trans-delay, width $navigation-toggle-trans-delay, bottom $navigation-toggle-trans-delay);
//	}
//
//	/* active state, i.e. menu open */
//	.navigation-toggle.is--active span {
//		@include transform(rotate(180deg));
//	}
//
//	.navigation-toggle.is--active span::before,
//	.navigation-toggle.is--active span::after {
//		width: $navigation-toggle-pad;
//	}
//
//	.navigation-toggle.is--active span::before {
//		top: 0;
//		@include transform(translateX(-2px) translateY(1px) rotate(-45deg));
//	}
//
//	.navigation-toggle.is--active span::after {
//		bottom: 0;
//		@include transform(translateX(-2px) translateY(-1px) rotate(45deg));
//	}
//
//} // end mediaquery
//
//
//// -----------------------------------------------------------------------------
////  Navigation
//// -----------------------------------------------------------------------------
//.navigation {
//	position: relative;
//	float: left;
//	height: 100%;
//	text-align: $navigation-text-align;
//	@include flex(1);
//}
//
//
//// -----------------------------------------------------------------------------
////  Navigation List
//// -----------------------------------------------------------------------------
//.navigation-list {
//	height: 100%;
//	display: inline-block;
//}
//
//
//// -----------------------------------------------------------------------------
////  Navigation list item
//// -----------------------------------------------------------------------------
//.navigation-list-item {
//	width: auto;
//	height: 100%;
//	float: left;
//	display: table;
//	position: relative;
//}
//
//
//// -----------------------------------------------------------------------------
////  Navigation list link
//// -----------------------------------------------------------------------------
//.navigation-list-link {
//	color: $navigation-link-color;
//	font: {
//		weight: 700;
//		family: $header-font;
//	}
//	@include transition(color $animation-time);
//
//	/* --- pseudo classes --- */
//	&:hover {
//		color: $navigation-link-color;
//	}
//
//	/* --- media query for desktop --- */
//	@include media($large) {
//		padding: 0 em(15px);
//		font-size: em(16px);
//	}
//	/* --- media query for large desktop --- */
//	@include media($xlarge) {
//		padding: 0 em(18px);
//	}
//	/* --- media query for smaller than desktop --- */
//	@include media(new-breakpoint(min-width 767px max-width 819px)) {
//		padding: 0 em(6px,14px);
//		font-size: em(14px);
//	}
//	/* --- media query for marloesified --- */
//	@include media(new-breakpoint(min-width 890px max-width 959px)) {
//		padding: 0 em(14px,14px);
//		font-size: em(14px);
//	}
//	/* --- media query for marloesified --- */
//	@include media(new-breakpoint(min-width 820px max-width 889px)) {
//		padding: 0 em(9px,14px);
//		font-size: em(14px);
//	}
//	/* --- media query for tablet and desktop --- */
//	@include media($small-up) {
//		@include vertical-align;
//		/* --- pseudo classes --- */
//		&:hover {
//			color: $navigation-link-hover-color;
//		}
//	}
//
//}
//
//
//// -----------------------------------------------------------------------------
////  Navigation list link active
//// -----------------------------------------------------------------------------
//.navigation-list-item.is--active > .navigation-list-link {
//	position: relative;
//	@include media($small-up) {
//		&::before { // triangle
//			bottom: 0;
//			left: 50%;
//			@include triangle(
//				$direction : up,
//				$size      : 16px,
//				$color     : $navigation-link-triangle
//			);
//		}
//	}
//}
//
//.navigation-list-item.is--active:hover > .navigation-list-link {
//	color: $white;
//}
//
//
//// -----------------------------------------------------------------------------
////  Navigation mobile
//// -----------------------------------------------------------------------------
//@include media($small) {
//	.navigation {
//		position: fixed;
//		background: $blue;
//		right: 0;
//		width: 90%;
//		height: 100%;
//		top: $top-bar-height-mobile;
//		@include transform(translate3d(100%, 0, 0));
//		@include transition(transform ($animation-time / 1.5) .35s $animation-motion);
//		@include clearfix;
//	} // end: .navigation
//
//	/* --- Navigation is visible (mobile) --- */
//	.navigation.is--active {
//		@include transform(translate3d(0,0,0));
//		overflow-y: scroll;
//		height: 100%;
//		padding-bottom: 60px;
//		@include transition(transform ($animation-time / 1.5) 0s $animation-motion);
//		$delay: 0;
//		@for $i from 1 through 10 {
//			.navigation-list-item:nth-child(#{$i}) {
//				@include transition(opacity ($animation-time / 4) #{$delay}s, transform ($animation-time / 4) #{$delay}s);
//			}
//			$delay: $delay + 0.05;
//		}
//	}
//
//	/* --- Navigation list (mobile) --- */
//	.navigation-list {
//		position: relative;
//		height: auto;
//		padding: 14px;
//		width: 100%;
//	}
//
//	/* --- Navigation list item (mobile) --- */
//	.navigation-list-item {
//		opacity: 0;
//		float: none;
//		width: 100%;
//		transform: translateX(30%);
//	}
//
//	/* --- Navigation list item is visible (mobile) --- */
//	.navigation-list-item.is--visible {
//		opacity: 1;
//		transform: translateX(0);
//	}
//
//	/* --- Navigation list item delay loop (mobile) --- */
//	$delay: 0.35;
//	@for $i from 1 through 10 {
//		.navigation-list-item:nth-child(#{$i}) {
//			@include transition(opacity ($animation-time / 4) #{$delay}s, transform ($animation-time / 4) #{$delay}s);
//		}
//		$delay: $delay - 0.05;
//	}
//
//	/* --- Navigation list link (mobile) --- */
//	.navigation-list-link {
//		display: list-item;
//		line-height: 46px;
//		padding: 0 10px;
//		border-bottom: 1px solid $darker-blue;
//		text-align: left;
//		&::before {
//			display: none;
//		}
//	}
//
//	/* --- Navigation list item has subnavigation, + sign (mobile) --- */
//	.navigation-list-item.has--subnavigation > .navigation-list-link {
//		&::before,
//		&::after {
//			display: block;
//			position: absolute;
//			top: ($navigation-toggle-width / 2);
//			right: 0;
//			width: $navigation-toggle-pad;
//			height: $navigation-toggle-bar-thickness;
//			background-color: #b0e5ec;
//			-webkit-appearance: none;
//			-moz-appearance: none;
//			appearance: none;
//			border-radius: 1px;
//			content: "";
//			opacity: 1;
//			@include transition(
//					transform ($navigation-toggle-trans-delay / 1.5),
//					opacity ($navigation-toggle-trans-delay / 2)
//			);
//		}
//
//		&::after {
//			@include transform(rotate(-90deg));
//		}
//	}
//
//	/* --- Navigation list item has subnavigation, - sign (mobile) --- */
//	.navigation-list-item.has--subnavigation > .navigation-list-link.is--active {
//		&::before {
//			opacity: 0;
//		}
//
//		&::after {
//			@include transform(rotate(0deg));
//		}
//	}
//
//// ./mediaquery mobile
//}
//
//
//// -----------------------------------------------------------------------------
////
////  PIP navigation
////
//// -----------------------------------------------------------------------------
//.pip-navigation {
//	width: 100%;
//	background-color:$blue-heading;
//	text-align: center;
//
//	@include media($small) {
//		text-align: left;
//	}
//
//	ul {
//		li {
//			display: inline;
//			margin-left: 25px;
//			&:first-child {
//				.pip-navigation-link {margin-left: 0;}
//			}
//		}
//	}
//
////	.row {position: relative;} // not needed
//
//	.pip-navigation-link {
//		padding:15px 0px;
//		display: inline-block;
//		color:#fff;
//		font-weight: 700;
//		margin-left:5px;
//		position: relative;
//
//		&:before {
//			bottom:12px;
//			width: 100%;
//			position: absolute;
//			left:0;
//			height: 1px;
//			text-align: center;
//			background-color: #fff;
//		}
//
//		&:hover {
//			//color:$dimmed-grey;
//			color:darken(#fff,10%);
//			//color:$link-color-hover ;
//		}
//
//		&.is--current {
//			color:#fff;
//
//			&:before {
//				content:'';
//			}
//		}
//	}
//
//	.language-btn {
//		position: absolute;
//		right: ($gutter / 2);
//		top: 16px;
//		overflow: hidden;
//		text-indent: 200px;
//		width: 30px;
//		height: 20px;
//	}
//
//}
