$fontPath: "../../assets/fonts/KijkwijzerRegular";
$fontKijkwijzer: 'KijkwijzerRegular';

@font-face {
  font-family: 'KijkwijzerRegular';
  src: url('#{$fontPath}/KijkwijzerRegular.eot');
  src: url('#{$fontPath}/KijkwijzerRegular.eot?#iefix') format('embedded-opentype'),
    url('#{$fontPath}/KijkwijzerRegular.woff') format('woff'),
    url('#{$fontPath}/KijkwijzerRegular.ttf') format('truetype'),
    url('#{$fontPath}/KijkwijzerRegular.svg#KijkwijzerRegular') format('svg');
  font-weight: 100 !important;
  font-style: normal !important;
}

.Kijkwijzer {
	font-family: $fontKijkwijzer !important;
	font-size: 1.4em;
}
