//font
@import url('//fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('//fonts.googleapis.com/css?family=Open+Sans');


$body-font                   : 'Open Sans', sans-serif;
$header-font                 : 'Montserrat', sans-serif;
$header-weight               : 400;
$icon-font                   : 'Fontawesome';

$h1-font-size                : em(19);
$h2-font-size                : em(19);
$h3-font-size                : em(19);
$h4-font-size                : em(24);
$h5-font-size                : em(24);
$h6-font-size                : em(20);
$p-font-size                 : em(15);


// color
$blue                        : #00aac3;
$dark-blue                   : #174255;
$darker-blue                 : #0089a0;
$dimmed-blue                 : #0f667b;
$blue-heading                : #009ab3;
$black                       : #2d404e;
$white                       : #fff;
$red                         : #ec2340;
$grey                        : #bfbfbf;
$dimmed-grey                 : #3f474a;
$light-grey                  : #6d7e84;
$border-grey                 : #e2e5e7;
$button-grey                 : #eaeaea;
$shower-cold-color           : #00566e;
$shower-warm-color           : #e44514;


$body-color                  : $black;
$footer-heading              : #004355;
$primary-background-color    : #eaeff1;
$primary-color               : $blue;
$heading-color               : $blue-heading;
$link-color                  : $blue-heading;
$link-color-hover            : lighten($link-color,10%);

// forms
$input-border-color          : #d6dadd;
$input-border-width          : 2px;
$input-color                 : #000;
$input-placeholder-color     : #495661;

// icons
$button-icon-color           : #223948;

$icons: (
		facebook:   (char: $fa-var-facebook-f, color: #3b5998),
		twitter:    (char: $fa-var-twitter, color: #02b0e8),
		google:     (char: $fa-var-google-plus, color: #be2933),
		youtube:    (char: $fa-var-youtube-play, color: #c4302a),
		instagram:  (char: $fa-var-instagram, color: #bbaa7c),
		mail: 		(char: $fa-var-envelope, color: #ea8751),
		embed:      (char: $fa-var-code, color: #c13c89)
);

// Animations
$animation-motion             : ease-in-out;
$animation-time               : 250ms;
$animation-delay              : 100ms;


//Folder
$folder-static                : "//static.avrotros.loc/Graphics";
$folder-specific              : "../gfx";


//Border radius
$default-border-radius        : 4px;
$global-rounded               : 50%;


// Spacing
$global-spacing               : percentage(($gutter / $gutter-amount) * 1);


// Top-bar
$top-bar-height               : 77px;
$top-bar-height-mobile        : 48px;
$top-bar-width                : 100%;
$top-bar-z-index              : 10;
$top-bar-border-size          : 8px;
$top-bar-subheight            : 46px;

// Ident
$ident-height                 : auto;
