// **************************************************************************
//
//  Project
//  => CLI: use gulp or gulp default or gulp scss
//
// **************************************************************************


// --------------------------------------------------------------------------
//  Libraries
// --------------------------------------------------------------------------
@import
	// Kijkwijzer font
	"libraries/kijkwijzer",
	// FontAwesome latest version
	"../libraries/fontawesome/scss/variables",
	"../libraries/fontawesome/scss/path",
	// Bourbon latest version
	"../libraries/bourbon/app/assets/stylesheets/bourbon",
	// Override Neat default grid settings
	"settings/grid-settings",
	// Neat latest version
	"../libraries/neat/app/assets/stylesheets/neat";


// --------------------------------------------------------------------------
//  Settings
// --------------------------------------------------------------------------
@import "settings";


// --------------------------------------------------------------------------
//  Functions
// --------------------------------------------------------------------------
@import "functions/*";


// --------------------------------------------------------------------------
//  Mixins
// --------------------------------------------------------------------------
@import "mixins/*";


// --------------------------------------------------------------------------
//  Placeholders
// --------------------------------------------------------------------------
@import "extends/*";


// --------------------------------------------------------------------------
//  Reset
// --------------------------------------------------------------------------
@import "base/reset";


// --------------------------------------------------------------------------
//  Base
// --------------------------------------------------------------------------
@import "base/*";


// --------------------------------------------------------------------------
//  Modules
// --------------------------------------------------------------------------
@import "modules/*";


body {background-color orange;}

:fullscreen a {
	display: flex
}

.rounded {
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

