//// Footer variables /////////////////////////////////////////////////////////////////////////////////////////////////
$footer-top-bar-height: 164px;

// ---------------------------------------------------------------------------------------------------------------------
//  Footer
// ---------------------------------------------------------------------------------------------------------------------
.footer {
	position: relative;
	background: #0097ae;
	/* --- media query for larger than smartphone --- */
	@include media($small-up) {
		margin-top: 124px; //($gutter * 4);
	}
	/* --- media query for smartphone --- */
	@include media($small) {
		margin-top: ($gutter * 2.48288);
	}
}


// ---------------------------------------------------------------------------------------------------------------------
//  Footer Top-Bar
// ---------------------------------------------------------------------------------------------------------------------
.footer-top-bar {
	height: 0;
	/* --- media query for smartphone --- */
	@include media($small) {
		padding: 0;
	}
}


// ---------------------------------------------------------------------------------------------------------------------
//  Footer widget newsletter
// ---------------------------------------------------------------------------------------------------------------------
.newsletter-widget-footer {
	display: table;
	position: relative;
	z-index: 1;
	top: (-$footer-top-bar-height / 2);
	width: 100%;
	background: $dark-blue;
	/* --- media query for desktop --- */
	@include media($large) {
		padding: 0 5%;
	}
	/* --- media query for tablet --- */
	@include media($medium) {
		padding-left: $gutter;
		padding-right: $gutter;
	}
	/* --- media query for larger than smartphone --- */
	@include media($small-up) {
		height: $footer-top-bar-height;
	}
	/* --- media query for smartphone --- */
	@include media($small) {
		padding: 25px 10px;
	}
}


// ---------------------------------------------------------------------------------------------------------------------
//  Footer widget newsletter content
// ---------------------------------------------------------------------------------------------------------------------
.newsletter-widget-content {
	color: #aab3b9;
	.title {
		color: $white;
	} // /.newsletter-widget-content .title
	.text {
		padding-right: 0.5em;
		font-size: em(14);
	}  // /.newsletter-widget-content .text

	/* --- media query for larger than smartphone --- */
	@include media($small-up) {
		display: table-cell;
		vertical-align: middle;
		width: 37%;
		.title {
			font-size: em(20);
			margin-bottom: em(8);
		}
	}
	/* --- media query for smartphone --- */
	@include media($small) {
		width: 100%;
		.title {
			font-size: em(16);
			margin-bottom: em(16);
		}
		.text {
			display: none;
		}
	}
}


// ---------------------------------------------------------------------------------------------------------------------
//  Newsletter form (footer)
// ---------------------------------------------------------------------------------------------------------------------
.newsletter-form {
	ul {
		width: 100%;
		> li {
			position: relative;
			float: left;
		} // /.newsletter-form > ul > li
	} // /.newsletter-form > ul

	// fix for input fields, remove border
	.input-text {
		border: 0;
		line-height: 46px;
	}

	/* --- media query for larger than smartphone --- */
	@include media($small-up) {
		display: table-cell;
		vertical-align: middle;
		width: 63%;
		ul > li {
			&:first-child {
				width: 69%;
				padding-right: 3%;
			}
			&:last-child {
				width: 31%;
			}
		}
	}
	/* --- media query for smartphone --- */
	@include media($small) {
		width: 100%;
		ul > li {
			&:first-child {
				width: 100%;
				height: 46px;
				.input-text {
					margin-top: 0; // Dirty fix for iPhones
				}
			}
			&:last-child {
				position: absolute;
				right: 10px;
				width: 46px;
			}
		}
	}
} // /.newsletter-form


// ---------------------------------------------------------------------------------------------------------------------
//  Newsletter form button (footer)
// ---------------------------------------------------------------------------------------------------------------------
.newsletter-form-button {
	/* --- media query for larger than smartphone --- */
	@include media($small-up) {
		width: 100%;
		@include transition(border-color $animation-time $animation-motion $animation-delay, background-color $animation-time $animation-motion);
	}
	/* --- media query for smartphone --- */
	@include media($small) {
		margin: 3px 3px;
		height: 40px;
		width: 40px;
		@include hide-text;
		&::before {
			position: absolute;
			z-index: 1;
			top: 0;
			line-height: 40px;
			font-size: em(19);
			text-align: center;
			@include before($w:40px, $h:40px, $c:$fa-var-send, $icon: true);
		}
	}
}

button.newsletter-form-button {
	padding: 0 !important;
}

input.newsletter-form-button {
	width: 100%;
}


// ---------------------------------------------------------------------------------------------------------------------
//  Footer Content
// ---------------------------------------------------------------------------------------------------------------------
.footer-content {
	color: #e4f0f3;
	@include media($large) {
		padding-bottom: 117px;
	}
	@include media($medium) {
		padding-bottom: 151px;
	}
	@include media($small-up) {
		padding-top: 132px;
	}
	@include media($small) {
		padding-top: 64px;
		padding-bottom: 153px;

	}
}


// ---------------------------------------------------------------------------------------------------------------------
//  Radar+ Teaser list
// ---------------------------------------------------------------------------------------------------------------------
.radar-plus {
	@include media($small-up) {
		float: right;
		width: 42%;
	}
	@include media($medium) {
		width: 100%;
	}
	@include media($small) {
		width: 100%;
	}
}

.radar-plus .teaser-list.type--image-left {
	@include media($medium) {
		padding-left: 101px;
		width: 48%;
		float: left;
		&:first-child,
		&:nth-child(3) {
			margin-right: 3%;
		}
		.teaser-img {
			width: 90px;
			height: 75px;
		}
	}
	@include media($small) {
		width: 100%;
	}
}

.footer-content .footer-title {
	margin-bottom: em(9,16);
	line-height: em(42);
	color: $footer-heading;
	font-size: em(16);
}

.footer-content .teaser-list .teaser-title {
	color: inherit;
	font: {
		weight: 700;
		size: em(16);
	}
}

.footer-content .teaser-list .teaser-link:hover ~ header > .teaser-title {
	color: lighten(#e4f0f3, 10%);
}

.footer-content .teaser-list .teaser-text {
	font-size: em(13);
}


// ---------------------------------------------------------------------------------------------------------------------
//  Footer Bottom Bar
// ---------------------------------------------------------------------------------------------------------------------
.footer-bottom-bar {
	position: absolute;
	overflow: hidden;
	width: 100%;
	bottom: 0;
	background: $dark-blue;
	.row {
		height: 100%;
	}
	.copyright {
		position: absolute;
		display: inline-block;
		vertical-align: middle;
		left: 50%;
		font: {
			weight: normal;
		}
		color: #a1acb2;
		@include media($large) {
			float: left;
			margin-left: -210px;
			width: 340px;
			line-height: 83px; // TODO: Dirty fix
			text-align: right;
		}
		@include media($medium-down) {
			position: relative;
			float: left;
			top: 0;
			left: 0;
			line-height: 53px; // TODO: Dirty fix
			text-align: left;
		}
		@include media($small-up) {
			font: {
				size: em(14);
			}
		}
		@include media($small) {
			width: 100%;
			line-height: 45px !important;
			font: {
				size: em(11);
			}
			text-align: center !important;
		}
	}
	/* --- media queries --- */
	@include media($large) {
		height: 80px;
		line-height: 80px;
	}
	@include media($medium) {
		height: 114px;
	}
	@include media($small) {
		height: 158px; // 214
	}
}


// ---------------------------------------------------------------------------------------------------------------------
//  Social icons
// ---------------------------------------------------------------------------------------------------------------------
.footer-navigation-social {
	@include media($large) {
		position: relative;
		float: left;
		text-align: left;
	}
	@include media($medium) {
		position: absolute;
		bottom: 0;
		line-height: 80px;
		left: $gutter / 2;
	}
	@include media($small) {
		line-height: 65px;
		text-align: center;
	}

	.button-social {border-radius: 50%;}
}


// ---------------------------------------------------------------------------------------------------------------------
//  Footer navigation
// ---------------------------------------------------------------------------------------------------------------------
.footer-navigation {
	position: absolute;
	left: 50%;
	text-align: left;
	margin-left: 16px;
	ul {
		display: inline-block;
		> li {
			position: relative;
			float: left;
			> a {
				position: relative;
				display: inline-block;
				padding: 0 16px;
				line-height: 1.5;
				color: #a1acb2;
				font: {
					family: $header-font;
					weight: $header-weight;
					size: em(14);
				}
				text-decoration: underline;
				&::before {
					$height: 15px;
					position: absolute;
					left: 0;
					top: 50%;
					margin-top: (-$height / 2);
					background-color: #a1acb2;
					@include before($w:1px, $h:$height);
				}
				&:hover {
					text-decoration: none;
				}
			} // end a
		} // end li
	} // end ul


	@include media($large) {
		margin-left: 146px;
	}
	@include media($medium) {
		top: 0;
		line-height: 51px;
		position: relative;
		float: left;
		left: 0;
	}
	@include media($small) {
		display: none;
	}
}

.avrotros-logo {
	display: block;
	background: {
		image: url("//static.avrotros.nl/Graphics/Avrotros/2014/AvrotrosNav/logo--v.png");
		repeat: no-repeat;
	}
	@include hide-text;
	/* --- mediaqueries --- */
	@include media($large) {
		float: right;
	}
	@include media($medium) {
		position: absolute;
		height: 80px;
		bottom: 0;
		right: $gutter / 2;
	}
	@include media($small-up) {
		background: {
			size: 112px auto;
			position: right 55%;
		};
		width: 167px;
	}
	@include media($small) {
		background: {
			size: 112px auto;
			position: top center;
		};
		margin: 0 auto;
		width: 124px;
		height: 40px;
	}
}
