
%input-text {
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
	appearance: none;
	border-radius: 0;
	color:inherit;
	line-height: 36px;
	padding: 0 1em;
	width: 100%;
	border: 2px $input-border-color solid;
	background: #fff;

	font: {
		family: $body-font;
		size:em(15);
		//style: italic;
	}
}

form {
	display: inline-block;
	width: 100%;
}

button {
	padding: 0;
}

label {
	&.required:after {
		content:'*';
		color:$blue;
		font-size:em(12);
		line-height: 1;
		vertical-align: text-top;
	}
}

.error {
	color:$red;

	label:after {
		color:inherit;
	}
}

//nice bourbon var for all input fields
#{$all-text-inputs} {

  @extend %input-text;
  outline: none;

  	@include placeholder {
	  color: $input-placeholder-color;
	  font-style: italic;
  	}


  	&.error {
	  color:$red;
	  border-color:$red;
	}

  	&:focus {
	  color:$body-color;
	  border-color:$blue;
  	}

}

input[type="submit"] {
	@extend %icon-fa;
	font-family: "Fontawesome" !important;
	color:$black;
	font-size: 16px;
	border:0;
	background-color: transparent;
	display: inline-block;
	width: 45px;
	height: 42px;
	outline: 0;
	border-radius: 0;
	-webkit-appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
	display: none;

	+ label {
		cursor: pointer;
		margin-right: 15px;

		&:before {
			@extend %icon-fa;
			color: $input-border-color;
			font-size: em(20);
			vertical-align: middle;
			margin-right: 5px;
			@include transition(border-color $animation-time $animation-motion);
		}
	}

	&:checked + label:before {
		color:$blue;
	}
}


input[type="checkbox"] {

	+ label:before {
		margin-top:-2px;
		margin-right: 10px;
		line-height: 12px;
		border:2px solid $input-border-color;
		@include before($w:16px, $h:16px, $display:'inline-block');
		@include transition(border-color $animation-time $animation-motion);
	}

	&:checked + label:before {
		content:$fa-var-check;
		font-size: 10px;
		text-align: center;
		border-color:$blue;
	}
}

input[type="radio"] {

	+ label:before {
		content:$fa-var-circle-o;
		@include transition(color $animation-time $animation-motion);
	}

	&:checked + label:before {
		content:$fa-var-dot-circle-o;
	}
}

label:hover {
	$hover-color: #94a6ac;
	color: #000;
	&::before {
		border-color: $hover-color;
	}
}


textarea {
	@extend %input-text;
	width: 100%;
	min-height: 135px;
}

select {
	@extend %input-text;
	-webkit-appearance: none;  /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
	appearance: none;
	background: none;
	font: {
		size: em(13);
	}
	border-radius: 0;
	border: $input-border-width solid $input-border-color;

	option:disabled {
		color:#a2a8ac;
		font-style: italic;
	}

	&:focus {
		border-color:$blue;
		outline: none;
	}
}

input[type="file"] {
	@extend %input-text;
	line-height: 0;
	padding: 12px 10px;
}

.form {
	margin-bottom: $gutter;
	font-size: em(15);
	legend {
		font-size: em(20);
		font-weight: 700;
		font-family: $header-font;
		margin-bottom: $gutter / 2;
	}

	input[type="checkbox"] + label {
		display: inline-block;
		float: left;
		clear: left;
	}

	fieldset {
		margin-top:$gutter;
		> ul > li {
			margin-bottom: 10px;
			width: 100%;
			display: block;
			overflow: hidden;
			min-height: 36px;

			> div {
				@include media($small) {
					width: 100%;
				}
			}
		}

		label {
			display: block;
			padding: 10px 0;
			font-size: em(15);
			line-height: 19px;
		}

		select,
		.switch-layout-select{
			width: 100%;
		}
	}

	.end-form {
		border-top:1px solid $input-border-color;
		padding-top: $gutter/2;
	}

	@include media($small) {
		.button.right {float:none;}
	}

	.message {
		display: none;

		&.error {
			font-size: .85em;
			text-align: right;
			display: block;
			@include media($small) {
				margin-bottom: -10px;
				margin-top: 20px;
			}
		}
	}

	&.voting {
		//border-bottom:1px solid $border-grey;
	}
}