// ---------------------------------------------------------------------------------------------------------------------
//  Row Container
// ---------------------------------------------------------------------------------------------------------------------
.row {
	position: relative;
	border: 1px solid grey;
	@include outer-container;
	@include media($site-width) {
		padding: 0 ($gutter / 2);
	}

	@include media($small) {
		padding: 0 10px;
	}

	&.small {
		max-width: 658px;
		padding:0 10px;
		@include media($site-width-up) {
			max-width: 800px;
		}
	}
}

// tryout a fix for dubble rows on tablets
.row > .row {
	@include media($site-width) {
		padding: 0;
	}
}