// -----------------------------------------------------------------------------
//  Element is hidden
// -----------------------------------------------------------------------------
.is--hidden {
	display: none !important;
}


// -----------------------------------------------------------------------------
//  Floating Classes
// -----------------------------------------------------------------------------
.right {
	float: right !important; // NOTE: need !important flag for floating columns
}


// -----------------------------------------------------------------------------
//  Text align Classes
// -----------------------------------------------------------------------------
.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}



// -----------------------------------------------------------------------------
//  Color Classes
// -----------------------------------------------------------------------------
.is--highlight {
	background-color: #eaeff1;
}

span.is--highlight {
	border-bottom: 1px solid darken(#eaeff1, 10%);
}


// -----------------------------------------------------------------------------
//  Angular Cloak fix
// -----------------------------------------------------------------------------
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none;
}