// ---------------------------------------------------------------------------------------------------------------------
//
//  Before
//
//  $w - the width of the psuedo element (default is 100%)
//  $h - the height of the psuedo element (default is 100%)
//  $c - content property for the before element (default is empty)
//  $icon - default there is no icon (true, false)
//  $display - configure the display property (default is block) ('block', 'inline-block' || '' || 'poep')
//
// ---------------------------------------------------------------------------------------------------------------------



@mixin before($w:100%, $h:100%, $c:'', $icon:false, $display:'block') {
	$icon-font: 'FontAwesome' !default;
	@if $display == 'block' {
		display: block;
	} @else {
		display: inline-block;
	}
	width: $w;
	height: $h;
	content: $c;
	@if $icon == true {
		font-family: $icon-font;
		text-indent: 0;
	}
}
