/**
 * the sticky footer mixin
 * http://codepen.io/zoerooney/pen/vtdFw
 **/
@mixin sticky-footer(
	$footer-height,
	$footer-small-height,
	$wrapper-selector: unquote(".sticky-wrapper"),
	$container-selector: unquote(".sticky-container"),
	$wrapper-push-selector: unquote(".sticky-push"),
	$footer-selector: unquote(".sticky-footer"),
	$reset: false,
	$max-query: 650px
) {
	@if $reset == true {
		html, body {
			height: 100%;
		}
		body {
			margin: 0;
			padding: 0;
		}
	}

	#{$wrapper-selector} {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		@media (min-width: $max-query + 1) {
			margin-bottom: -$footer-height;
		}
		@media (max-width: $max-query) {
			margin-bottom: -$footer-small-height;
		}

		//#{$container-selector} {
		//	padding: 0 0 $footer-height 0;
		//}
	}

	//#{$footer-selector},
	#{$wrapper-push-selector} {
		@media (min-width: $max-query + 1) {
			height: $footer-height;
		}
		@media (max-width: $max-query) {
			height: $footer-small-height;
		}
	}
}