//	display: block;
//	position: absolute;
//	bottom: 0;
//	left: 50%;
//	margin-left: -8px;
//	width: 0;
//	height: 0;
//	border: {
//		width: 8px;
//		style: solid;
//		color: transparent transparent #00aac3 transparent;
//	}
//	content: '';


// Arrow helper mixin
// ---
// @param [string] $direction: arrow direction
// @param [number] $size (1em): arrow size
// @param [color] $color (inherit): arrow color
// ---
@mixin triangle($direction: up, $size: 20px, $color: #000) {
	position: absolute;
	display: block;
	width: 0;
	height: 0;
	content: '';

	@if $direction == up {
		margin-left: (-$size/2);
		border-left: $size/2 solid transparent;
		border-right: $size/2 solid transparent;
		border-bottom: $size/2 solid $color;
	} @else if $direction == down {
		margin-left: (-$size/2);
		border-left: $size/2 solid transparent;
		border-right: $size/2 solid transparent;
		border-top: $size/2 solid $color;
	} @else if $direction == right {
		border-top: $size/2 solid transparent;
		border-bottom: $size/2 solid transparent;
		border-left: $size solid $color;
	} @else if $direction == left {
		border-top: $size/2 solid transparent;
		border-bottom: $size/2 solid transparent;
		border-right: $size solid $color;
	}
}