// Import Neat helpers
@import "../../libraries/neat/app/assets/stylesheets/neat-helpers";

// Change the grid settings
$gutter: golden-ratio(1em, 2);
$grid-columns: 24;
$max-width: em(1200 + (2 * $gutter));
$gutter-amount: $grid-columns * $column + ($grid-columns - 1) * $gutter;


// Breakpoints
$small: new-breakpoint(min-width 0px max-width 766px);
$small-portrait: new-breakpoint(min-width 0px max-width 766px orientation 'portrait');
$small-landscape: new-breakpoint(min-width 0px max-width 766px orientation 'landscape');
$small-up: new-breakpoint(min-width 766px);
$medium: new-breakpoint(min-width 767px max-width 959px);
$medium-down: new-breakpoint(max-width 959px);
$medium-up: new-breakpoint(min-width 767px);
$large: new-breakpoint(min-width 960px);
$xlarge: new-breakpoint(min-width 1400px);
$site-width: new-breakpoint(min-width 766px max-width 1244px);
$site-width-up: new-breakpoint(min-width 1245px);


// Disable bourbon deprecated warnings
$disable-warnings: true;


// Show visual grid
$visual-grid: false !global;
$visual-grid-color: #ddd;
